<div class="add-bookmark-container">
  <input id="bookmark-input" name="bookmark" />
  <button id="add-bookmark">Add</button>
</div>

{{#if bookmarks.length}}
    <ul class="bookmarks-container">
  {{#each bookmarks}}
    <li class="bookmark" data-bookmark-id="{{this.id}}">
      <div class="thumbnail-container">
        <img
          alt="{{this.title}}"
          src="{{this.image}}"
        />
        <div class="action-container">
          <div class="backdrop"></div>
          <button class="like">
            <span class="material-symbols-outlined like-icon{{#if this.liked}} filled{{/if}}">
              favorite
            </span>
          </button>
          <button class="delete">
            <span class="material-symbols-outlined">
              delete
            </span>
          </button>
        </div>
      </div>
      <h3>{{this.title}}</h3>
      <p>
        {{this.description}}
      </p>
      <a href="{{this.url}}">{{this.url}}</a>
    </li>
  {{/each}}
</ul>
{{else}}
<div class="empty-message">
        Your bookmark list is empty
    </div>

{{/if}}



<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"
></script>
<script src="/javascripts/main.js"></script>
